{% extends 'base.html' %} 
{% load i18n %} 
{% load imagekit %} 
{% load static %} 
{% block content %}
<div class="projectList">
	<h3 class="title">Recipes</h3> 
	{% for recipe in recipes %}
	<div class="media">
		<a class="pull-left" href="{{ recipe.get_absolute_url }}">
				  	{% if recipe.thumbnail_location %}
					<img src="{{ recipe.thumbnail_location.url }}" class="projectImg" title="{{ recipe.title }}">
				    {% else %}
					<img src="{% static 'images/eaten_raisin_toast_150_90.jpg' %}" class="projectImg" title="{{ recipe.title }}">
				  	{% endif %}
				  </a>
		<div class="media-body">
			<h4 class="media-heading"><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></h4>
			<p>
				{{ recipe.description }}
			</p>
			<a class="pull-right" href="{{ recipe.get_absolute_url }}">more details</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}