{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{ block.super }} - {% trans "Add or edit a recipe" %} {% endblock %}

{% block content %}
<form id="recipe-form" method="post">
    {% csrf_token %}
    <p>
        <label for="id_title">Recipe Title:</label>
        <input id="id_title" maxlength="250" name="title" type="text" value="{{ form.title.value|default_if_none:'' }}" required />
    <p>
        <label for="id_ingredients">Ingredients:</label> 
        <textarea cols="40" id="id_ingredients" name="ingredients" rows="5" required>{{ form.ingredients.value }}</textarea>
    </p>
    <p>
        <label for="id_instructions">Instructions:</label>
        <textarea cols="40" id="id_instructions" name="instructions" rows="5" required>{{ form.instructions.value }}</textarea>
    </p>
    <p>
        <label for="id_description">Description:</label>
        <textarea cols="40" id="id_description" name="description" rows="5">{{ form.description.value|default_if_none:'' }}</textarea>
    </p>        
   <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
   </div>
</form>
{% endblock %}
