{% extends "base.html" %}
{% load i18n %}
{% load sanitize %}
{% block feeds %}<link href="{{ feed }}" rel="alternate" type="application/rss+xml" title="{% blocktrans %}{{ title }} Recipe Feed{% endblocktrans %}" />{% endblock %}


{% block content %}
  <div id="title">
      <h3>{% blocktrans %}{{ title }}{% endblocktrans %}</h3>
  </div>
    {% for recipe in recipe_list %}
      {% include '/recipe/_list.html' %}
  {% endfor %}
{% endblock %}