{% comment %}This template is used via an ajax call from the users profile page to display all the stored recipes for a giving user {% endcomment %}
{% load i18n %}
<html>
   <head>
     <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
     <link href="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.css" rel="stylesheet" />
     <script type="text/javascript">
       $(function () {
          $(".remove-fav").click( function () {
           var id = $(this).attr("id");
             $.post('/recipe/unstore/', {'recipe_id': id},
              function (data) {
                $("#user-fav").hide().html(data).fadeIn('slow');
              });
          });
       });
     </script>
  </head>

  <body>
    <div id="user-fav">
      {% if recipe_list|length > 0 %}
          {% for recipe in recipe_list %}
            <a href ="#" onclick="return confirm('Are you sure you want to delete?')" id="{{ recipe.id}}" class="remove-fav"><img title="remove" alt="remove" src="{{ STATIC_URL }}/images/remove.gif" /></a>
           {% include '/recipe/_list.html' %}
         {% endfor %}
          {% else %}
            <p>{% trans 'You have not added any favorite recipes yet!' %}</p>
      {% endif %}
    </div>
  </body>
</html>
