{% comment %}This template is used via an ajax call from the users profile page to display all the recipes for a giving user {% endcomment %}
{% load i18n %}

<html>
    <head>     
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
        <link href="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.css" rel="stylesheet" />
        <script type="text/javascript">
            $(function () {
                $(".remove-fav").click( function () {
                    var id = $(this).attr("id");
                    $.post('/recipe/unstore/', {'recipe_id': id},
                    function (data) {
                        $("#user-fav").hide().html(data).fadeIn('slow');
                        
                    });
                });
            });
        </script>
    </head>
    <body>        
        {% if recipe_list.count > 0 %}
           {% if shared = 'share'  %}
              {% for recipe in recipe_list %}
                 {% include '/recipe/_list.html' %}
              {% endfor %}
           {% endif %}

           {% if user == request.user.username and shared == 'private' %}
              {% for recipe in recipe_list %}
                {% include '/recipe/_list.html' %}
              {% endfor %}
           {% endif %}
      {% else %}
         <p>{{ user }} {% trans 'has not added any recipes yet!' %}</p>
     {% endif %}
    </body>
</html>
