{% extends "base.html" %}

{% load i18n %}
{% load static %}

{%block title %}{{ block.super }}- {{ recipe.title }} {% endblock %}

{% block menu %}

{% endblock %}
{% block content %}
<div id="image_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recipe Image Upload</h4>
            </div>
                <div class="modal-body">
                    <label for="image_upload">Image</label>
                    <input type="file" id="image_upload" />
                </div>
                <div class="modal-footer">
                    <button id="image_upload_submit" class="btn btn-primary" value="Submit">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
        </div>
    </div>
</div>
<div class="row">
<h3 class="title">
    <a href="#" id="title" data-pk="{{ recipe.id }}" 
       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
       data-url="{% url 'recipe_edit' %}" data-type="text">{{ recipe.title }}</a>
</h3>
</div>
<div class="row">
<div class="media">
    <a href="#" data-target="#image_modal" data-toggle="modal">
    {% if recipe.image_location %}
    <img src="{{ recipe.image_location.url }}" class="pull-left" title="{{ recipe.title }}">
    {% else %}
    <img src="{% static 'images/eaten_raisin_toast_500_300.jpg' %}" class="pull-left" title="{{ recipe.title }}">
    {% endif %}
    </a>
    <div>
        <h4 class="media-heading">Description</h4>
        <a href="#" id="description" data-pk="{{ recipe.id }}"
           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
           data-url="{% url 'recipe_edit' %}" data-type="textarea">{{ recipe.description }}</a>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-6">
    <h4>Ingredients</h4>
    <a href="#" id="ingredients" data-pk="{{ recipe.id }}"
       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
       data-url="{% url 'recipe_edit' %}" data-type="textarea">{{ recipe.ingredients }}</a>
</div>
<div class="col-md-6">
    <h4>Instructions</h4>
    <p>
        <a href="#" id="instructions" data-pk="{{ recipe.id }}"
           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
           data-url="{% url 'recipe_edit' %}" data-type="textarea">{{ recipe.instructions }}</a>
    </p>
</div>
</div>
<div class="row"><br/></div>
<div class="row">
<div class="col-md-6">
    <p>
        Click a recipe section to edit it
        <span class="fa fa-pencil-square-o"></span>.
    </p>
</div>
</div>
{% endblock %}
