<VirtualHost *:80>
    <% if @disable_ssl %>
	WSGIDaemonProcess home_bistro python-path=/var/www/home_bistro:/var/www/home_bistro/venv/lib/python2.7/site-packages
	<% end %>
    WSGIProcessGroup home_bistro
    WSGIScriptAlias / /var/www/home_bistro/openeats/wsgi.py process-group=home_bistro
	
	Alias /static/ /var/www/home_bistro/openeats/static-files/
	Alias /media/ /var/www/home_bistro/openeats/media-files/
	
	<Directory /var/www/home_bistro/openeats/static>
		Require all granted
	</Directory>
	
	<Directory /var/www/home_bistro/openeats/media>
		Require all granted
	</Directory>
	
	<Directory /var/www/home_bistro/openeats>
		<Files wsgi.py>
			Require all granted
		</Files>
	</Directory>
	# The ServerName directive sets the request scheme, hostname and port that
	# the server uses to identify itself. This is used when creating
	# redirection URLs. In the context of virtual hosts, the ServerName
	# specifies what hostname must appear in the request's Host: header to
	# match this virtual host. For the default virtual host (this file) this
	# value is not decisive as it is used as a last resort host regardless.
	# However, you must set it for any further virtual host explicitly.
	ServerName <%= @domain %>
	ServerAlias www.<%= @domain %>

	ServerAdmin <%= @from %>
	DocumentRoot /var/www/home_bistro

	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	# It is also possible to configure the loglevel for particular
	# modules, e.g.
	#LogLevel info ssl:warn

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	# For most configuration files from conf-available/, which are
	# enabled or disabled at a global level, it is possible to
	# include a line for only one particular virtual host. For example the
	# following line enables the CGI configuration for this host only
	# after it has been globally disabled with "a2disconf".
	#Include conf-available/serve-cgi-bin.conf
	
	<% unless @disable_ssl %>
	RewriteEngine on                                                                                                                                           
    RewriteCond %{SERVER_NAME} =<%= @domain %> [OR]                                                                                                        
	RewriteCond %{SERVER_NAME} =www.<%= @domain %>                                                                                                         
	RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,QSA,R=permanent]
	<% end %>
</VirtualHost>
