body{color:#858585}
a, a:hover, a:active{color: #ff4800;}
img{max-width:100%}
.cntr{text-align:center;}
.ourServices {padding:40px 0}
.ourServices img{max-width:140px}
.title{ border-bottom:1px solid #eee; padding-bottom:4px; margin-bottom:20px;}
.topHeaderSection{background:#fff; padding:0}

  .header {
z-index: 999;
position: relative;
padding: 0;
}
.is-sticky {
width: 100%;
background-color: #ffffff;
background-color: rgba(255, 255, 255, 0.95);
}



/* --------------------------- */
/* --------------------------- */
/*Top Bar (login, search etc.)
------------------------------------*/
.top {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E9E9E9;
	z-index:9999;
}
.top .container {
    padding:0 15px;
}

.phone-mail {
    margin:0 20px 0 0;
    padding:0;
    z-index:9999;
    list-style:none;
    position:relative;
    float: left;
}
.phone-mail li {
    display:inline;
    list-style:none;
    padding-bottom:15px;
    margin-right: 5px;
}
.phone-mail i {
    font-size:11px;
    margin-top:3px;
    margin-right: 3px;
    color:#999;
}
.phone-mail li span {
    color:#7c8082;
    font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar {
	margin:0;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    float: right;
}

@media (max-width: 480px) {
    .loginbar {
        float: left;
    }
}

.loginbar li {
	display:inline;
	list-style:none;
}

.loginbar li a,
.loginbar li a:hover {
	color:#7c8082;
	font-size:11px;
    font-family: 'Roboto', sans-serif;
}

.loginbar li.divider { 
	top:-1px;
	padding:0;
	font-size:8px;
	position:relative;
	margin:0 6px 0 2px;
	font-family:Tahoma;
	border-right:solid 1px #bbb;
}

.loginbar i {
	color:#999;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}

/*Lenguages*/
.loginbar li ul { 
	top:18px;
	margin:0;
	left:-6px;
	display:none; 
	padding-top:4px;
	position:absolute; 
	border-radius:3px;
	padding-bottom:4px;
	background:#f0f0f0;
}

.loginbar li:hover ul { 
	display:block; 
}

.loginbar li ul li { 
	padding-bottom:0;
	display:list-item;
	position:relative;
	margin-bottom:1px;
}

.loginbar li ul li a { 
	color:#555;
	display:block;
	min-width:85px; 
	font-size:10px;
	padding:2px 12px;
	background:#f0f0f0;
	text-decoration:none;
}

.loginbar li ul li a:hover, 
.loginbar li ul li.active a {
	opacity:1 !important;
	color:#555 !important;
	font-size:10px !important;
	text-shadow:none !important;
	background:#fafafa !important;
}

.loginbar li ul li.active i {
	top:2px;
	right:-5px;
	font-size:14px;
	cursor:default;
	position:absolute;
	text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
	color:#bbb;
	font-size:13px;
	margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
	top:21px; 
	left:-1px;
	color:#eee;
	display:none;
	font-size:14px;
	cursor:default;
	position:absolute;
}

.loginbar li:hover i.icon-sort-up {
	display:block;
}

.loginbar li:hover i.icon-ok {
	top:-2px;
	color:#aaa;
}
/* --------------------------- */
/* --------------------------- */
.bannerSection{background:#e5e5e5; padding:0}
.highlightSection{color:#333; background:#fafafa; padding:18px 0; border-bottom: 1px solid #D1D1D1}
.highlightSection h2{padding-top:0; margin-top:0; font-size:21px}
.highlightSection h4{padding-top:0; margin-top:0; line-height:1.6em; font-size:18px}
.bodySection{background:#fff; padding:18px 0}
.align-right{text-align:right}

.testimonails{background:#f7f7f7; padding:14px; margin:28px 0 44px }
.projectList{}
.projectList img{padding:4px; border:1px solid #eee; background:#f5f5f5;}


.projectImg{max-width:150px}
.clientSection{background:#fafafa; padding:18px 0; margin-bottom:20px; padding:18px }
.footerTopSection{background:#f7f7f7; padding:18px 0; border-top: 1px solid #e7e7e7}
.footerBottomSection{background:#212121; padding:18px 0; color:#fff}

#topcontrol:hover {color: #a2c753;}
#topcontrol, #topcontrol:hover {
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.blockquote {border-left: 5px solid #FF792D;}
/* Toggle menu */
.navbar-collapse {background: #fff;z-index: 9999;}
.navbar-toggle {border-radius: 0;outline:0}
.navbar-toggle span {border-color: #ff0000;background: red;}
.nav>li>a:hover, .nav>li>a:focus {text-decoration: none;background-color: #fff;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background-color: #fff; border-color: #428bca;}
.navbar-nav>li>a {padding-top: 6px;padding-bottom: 8px;color: #858585;}
.navbar-nav>li.active>a, .navbar-nav>li>a:hover {color: #ff4800}

.navbar-nav.navbar-right:last-child {margin-right: -15px;margin-top: 34px; margin-bottom: -18px;}
.btn-brand{background-color: #ff4800; border-color: #ff4800;color:#fff}
.btn-brand:hover, .btn-brand:focus, .btn-brand:active, .btn-brand.active, .open .dropdown-toggle.btn-brand {color: #fff; background-color: #F07341; border-color: #F07341;}

.serviceBlock{ padding:38px 0; margin:18px 0}

.services {padding:38px 0; margin:18px 0}
.serviceBlock i {
float: left;
padding: 14px;
color: #00B8FF;
font-size: 6em;
text-align: center;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
blockquote {
border-left: 5px solid #ff4800;
}



/* Media Query */

/* Small devices (tablets, 768px and up) */
@media (max-width: 480px) {
.topHeaderSection {padding: 0;}
.da-slide .da-img{display:none}
.da-slide h2 {top: 18px;}
.da-slide p {top: 255px;}
.navbar-nav.navbar-right:last-child {margin-top: 0px;margin-bottom: 0px;}
.navbar-toggle {margin-top: 21px;}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
