{% load i18n %} 
{% load static %}
<!DOCTYPE html>
<html>
{% include "header.html" %}

<body>
    {% include "navbar.html" %}
    <div class="bodySection" style="index:none">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="title">Categories</h3>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
                    </p>
                    <ul>
                        <li>Tick mark here Reason one</li>
                        <li>Tick mark here Reason one</li>
                        <li>Tick mark here Reason one</li>
                        <li>Reason one</li>
                        <li>Reason one</li>
                        <li>Reason one</li>
                    </ul>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
                    </p>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
                    </p>
                    {% block menu %}
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
    {% include 'script.html' %}
</body>

</html>