{% load static %}
<!-- footerTopSection -->
    <div class="footerTopSection">
		<div class="container">
			<div class="row">
			  <div class="col-md-3">
				<h3>About</h3>
				  <p>
					  <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
					  <img border="0" alt="CC License" width="80" height="15" src="{% static 'images/cc_license_img.png' %}" />
						  &nbsp;
					  </a>The stock image for food photos is <em>Half eaten raisin bread</em> by 
					  <a href="http://freefoodphotos.com/imagelibrary/bread/slides/eaten_rasin_toast.html">freefoodphotos.com</a>.
				  </p>
			  </div>
			  <div class="col-md-3">
				<h3>Recent NEWS </h3>
				<p>
					Best service provicer for<br>
					<strong>web and application </strong> design and development.
				</p>
				<p>
					Best service provicer for<br>
					<strong>web and application </strong> design and development.
				</p>
				<p>
					Best service provicer for<br>
					<strong>web and application </strong> design and development.
				</p>
			  </div>
			  <div class="col-md-3">
				<h3>Useful Links</h3>
				<p>
					<span>This may be the very useful and quick link for proper information</span><br><br>
					<a href="#">Our Services</a><br>
					<a href="#">About us</a><br>
					<a href="#">Our Network</a><br>
					<a href="#">Our Products</a><br>
				</p>
				<h3>Friends</h3>
				<p>
					<a href="#">Yahoo.com</a><br>
					<a href="#">Canon</a>
				</p>
				
			  </div>
			  <div class="col-md-3">
				<h3>Stay Connected</h3>
				<p>
					We are available at all social networks
				</p>
					F , t, G, T, Ln, P, Y
			  </div>
			</div>
		</div>
	</div>
    <!-- footerBottomSection -->	
	<div class="footerBottomSection">
		<div class="container">
			&copy;The Home Bistro, 2017
		</div>
	</div>