{% load static %}

<div class="top">
    <div class="container">
        <div class="row-fluid">
            <ul class="loginbar">
                {% if request.user.is_authenticated %}
                <li><a href="#" class="login-btn">Hello {{ request.user.first_name }}!</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="{% url 'logout' %}?next=/login/" class="login-btn">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="login-btn">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="topHeaderSection">
    <div class="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#"><img src="{% static 'images/the_home_bistro_250_64.png' %}" alt="The Home Bistro" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#about">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>