{% load static %}
<!-- JS Global Compulsory -->			
<script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>		
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>	
	
	<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cslider.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		App.initSliders();
		Index.initParallaxSlider();

		// Editable recipe fields
		$("#title").editable();
		$('#description').editable();
		$("#ingredients").editable();
		$("#instructions").editable();

		// Handle the image modal appropriately on the recipe display form.
		$("#image_upload_form").on("submit", function() {
			alert("Image submitted");
			return false;
		});
	});
</script>
