{% load i18n %}
<div id="search">
    <form method="get" class="well form-search" action="/search/" >
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control search-query" id="id_q" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-dark" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
     </form>
</div>
{% if 'recipe_history' in request.session %}
    <h4 class="page-header navheader">{% trans 'Last Viewed' %}</h4>
    <ul class="list-group">
    {% for title,id in request.session.recipe_history %}
        <li class="list-group-item"><a href="/recipe/{{ id }}/" alt={{ title }}>{{ title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
