{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ block.super }}- | {% trans 'news' %} {% endblock %}
{% block content %}
    {% if entry_list.count > 0 %}
    {% for entry in entry_list %}
       <div class="row">
         <div class="col-md-8 well">
             <h2>{{ entry.title }}</h2>
             <p>{{ entry.content|safe|truncatewords_html:150 }}</p>
             <p><a class="btn btn-primary" href="{{ entry.get_absolute_url }}">{% trans 'read more' %} &raquo;</a></p>
         </div>
       </div>
    {% endfor %}
   {% else %}
        <p>{% trans "There currently isn't any news" %}</p>
   {% endif %}

{% endblock %}