{% extends "base.html" %}
{% load i18n %}
{% comment %}This template list all recipes found in a course or a cuisine it is called from the course_list or the cuisine_list {% endcomment %}
{% load sanitize %}

{% block content %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.js"></script>
  <link href="{{ STATIC_URL }}js/jquery.ui.stars/jquery.ui.stars.css" rel="stylesheet" />

  <div id="title">
      <h3>{% trans "Recipes in " %}{{category}}</h3>
  </div>
    {% for recipe in recipe_list %}
      {% include '/recipe/_list.html' %}
  {% endfor %}
    
{% endblock %}