{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="registration-complete">
    <h2>{% trans 'Registration Complete!' %}</h2>
    {% trans "Thank you for signing up for" %} {{ OETITLE }} {% trans "You're all set.  Start adding your recipes now." %}
</div>
{% endblock %}