{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{% trans 'Alert!' %}</strong> {{ form.non_field_errors }}
    </div>
{% endif %}

<form class="well" method="post">{% csrf_token %}
    <div class="form-group">
        <p>{{ form.username.label_tag }}</p>
        {{ form.username.errors }}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            {{ form.username }}
        </div>
    </div>
    <div class="form-group">
        <p>{{ form.email.label_tag }}</p>
        {{ form.email.errors }}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
            </span>
            {{ form.email }}
        </div>
    </div>
    <div class="form-group">
        <p>{{ form.password1.label_tag }}</p>
        {{ form.password1.errors }}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            {{ form.password1 }}
        </div>
    </div>
    <div class="form-group">
        <p>{{ form.password2.label_tag }}</p>
        {{ form.password2.errors }}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            {{ form.password2 }}
        </div>
    </div>
    <button type="submit" class="btn btn-default">{% trans 'create account' %}</button>
</form>
{% endblock %}
